<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<style>
    @media print {
    main *:not(#print):not(#print *) {
      visibility: hidden;
    }

    #print{
      position: absolute;
      top: 0;
      left: 0;
    }
}
</style>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <div>
        <form action="/fnsh" method="POST">
            <div class="mt-5 d-flex justify-content-between p-2">
                <div class="row align-items-end">
                    <div class="col">
                        <label class="form-label">Placa: </label>
                        <input name="inputplaca" value="<%= placa %>" class="form-control" type="text" required readonly/>
                    </div>
                    <div class="col">
                        <a id="addCort" class="btn btn-warning" onclick="addCortesia()">Adicionar Cortesia</a>
                        <a id="rmCort" class="btn btn-warning d-none" onclick="rmCortesia()">Retirar Cortesia</a>
                    </div>
                    <input class="d-none" id="cortesia" name="cortesia" type="text" value="Cortesia" disabled />
                </div>
                <div>
                    <label class="form-label p-2" style="font-weight: bold; font-size: 50px;">Total:</label>
                    <label id="total" class="p-2" style="font-weight: bold; font-size: 50px;"><%= valor %></label>
                </div>
            </div>
            <div>
                <h4 id="warning" class="text-center d-none p-2" style="color: red;">Atenção: Você está adicionando uma cortesia para esse cliente!</h4>
            </div>
            <div class="mt-3 row justify-content-center">
                <div class="col-2 mt-2">
                    <label class="form-label">Entrada</label>
                    <input name="inputenter" class="form-control" value="<%= info[0].entrada.toString().substring(15, 24) %>" type="text" required readonly/>
                </div>
                <div class="col-2 mt-2">
                    <label class="form-label">Saída</label>
                    <input id="saida" name="inputexit" class="form-control" value="<%= info[0].now.substring(0,8) %>" type="text" required readonly/>
                </div>
                <div class="col-2 mt-2">
                    <label class="form-label">Estadia</label>
                    <input name="inputestadia" class="form-control" value="<%= dif %>" type="text" required readonly/>
                </div>
                <div class="col-md-2 col-sm-3 mt-2">
                    <label class="form-label">Valor: </label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="preco" name="inputpay" class="form-control" value="<%= valor %>" onkeypress="$(this).mask('#.##0,00', {reverse: true})" type="text" required readonly/>
                    </div>
                    <div class="d-none">
                        <span class="input-group-text">$</span>
                        <input id="precoT" name="inputpayT" class="form-control" value="<%= valor %>" type="text" required readonly/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 mt-2">
                    <label class="form-label">Desconto: </label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="desconto" name="inputdesc" class="form-control" value="0,00" onkeypress="$(this).mask('#.##0,00', {reverse: true})" type="text"/>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-sm-3 mt-2">
                    <label class="form-label">Forma de Pagamento</label>
                    <select id="formpag" name="formpag" class="form-control">
                        <option>Dinheiro</option>
                        <option>Crédito</option>
                        <option>Débito</option>
                        <option>Pix</option>
                    </select>
                </div>
                <div class="col-12 col-md-3 col-sm-3 mt-2">
                    <label class="form-label">Valor fornecido: </label>                    
                    <input type="text" class="form-control" id="fornecido" value="0,00" onkeypress="$(this).mask('#.##0,00', {reverse: true})">
                </div>
                <!-- <div class="col-4">
                    <label class="form-label">Valor Pago: </label>
                    <input class="form-control" type="text" />
                </div> -->
            </div>
            <div class="d-flex justify-content-end">
                
            </div>
            <div class="row mt-5 mx-auto w-50">
                <a href="/" class="btn btn-outline-primary mb-3">Voltar</a>
                <button type="button" onclick="resumoInsert()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#finality">
                    Finalizar
                </button>
            </div>

            <div class="modal fade" id="finality" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="finalityLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h5 class="modal-title" id="finalityLabel">Informações Do Pagamento</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>

                    <div id="resumo" class="modal-body d-flex flex-wrap">
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" onclick="window.print()" class="btn btn-primary">Confirmar</button>
                    </div>

                  </div>
                </div>
              </div>
        </form>
    </div>

    <div id="print">

    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    var preco = document.getElementById('preco')
    var desconto = document.getElementById('desconto')
    var precoT = document.getElementById('precoT')
    var resumo = document.getElementById('resumo')

    console.log(parseFloat(preco.value))
    console.log(parseFloat(desconto.value))

    function addCortesia(){
        var cortesia = document.getElementById('cortesia')
        cortesia.disabled = false
        document.getElementById('addCort').classList.add('d-none')
        document.getElementById('rmCort').classList.remove('d-none')
        document.getElementById('warning').classList.remove('d-none')
        document.getElementById('desconto').value = '<%= valor %>'
        document.getElementById('total').innerHTML = '0,00'
    }

    function rmCortesia(){
        document.getElementById('cortesia').disabled = true
        document.getElementById('addCort').classList.remove('d-none')
        document.getElementById('rmCort').classList.add('d-none')
        document.getElementById('warning').classList.add('d-none')
        document.getElementById('desconto').value = '0,00'
        document.getElementById('total').innerHTML = '<%= valor %>'
    }

    preco.addEventListener('keyup', () =>{
        var total = parseFloat(preco.value.replace(',', '.')) - parseFloat(desconto.value.replace(',', '.'))
        document.getElementById('total').innerText = total.toString().includes('.') == true ? total.toFixed(2).toString().replace('.', ',') : total + ',00'
        precoT.value = total.toString().includes('.') == true ? total.toFixed(2).toString().replace('.', ',') : total + ',00'
    })

    desconto.addEventListener('keyup', () => {
        var total = parseFloat(preco.value.replace(',', '.')) - parseFloat(desconto.value.replace(',', '.'))
        document.getElementById('total').innerText = total.toString().includes('.') == true ? total.toFixed(2).toString().replace('.', ',') : total + ',00'
        precoT.value = total.toString().includes('.') == true ? total.toFixed(2).toString().replace('.', ',') : total + ',00'
    })

    function resumoInsert(){
        var teste = parseFloat(document.getElementById('fornecido').value)
        var teste2 = parseFloat(document.getElementById('precoT').value)
        var formpag = document.getElementById('formpag')
        var saida = document.getElementById('saida')

        document.getElementById('print').innerHTML = `
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
        !--- Estabelecimento: <%= user.toUpperCase() %><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
        <%= address %><br>
        CNPJ: <%= cnpj %><br>
        Phone: <%= phone %>
        <br>--------------------------------------<br>
        &emsp;&emsp;&emsp;&emsp;RECIBO - RETIRADA DO VEICULO<br>
        --------------------------------------<br>
        Placa: <%= placa %><br>
        Dia: <%= today %><br>
        Entrada: <%= info[0].entrada.toString().substring(15, 24) %><br>
        Saida: ${saida.value}<br>
        Estadia: <%= dif %><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
        <p>Informacoes de pagamento:</p>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
        TOTAL: <%= valor %><br>
        Forma de Pagamento: ${formpag.value}<br>
        Valor Pago: ${document.getElementById('fornecido').value}<br>
        Troco: ${(parseFloat(teste - teste2).toFixed(2) <= 0 || parseFloat(teste - teste2).toFixed(2) == 'NaN') ? '0,00' : parseFloat(teste - teste2).toFixed(2).replace('.', ',')}<br>
        --------------------------------------<br>
        >> OBRIGADO PELA PREFERENCIA, VOLTE SEMPRE<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<br>
        <small>Sistema: <br>systenparking.herokuapp.com</small><br>
        `;

        
        console.log(teste - teste2)
        resumo.innerHTML = `
                            <label class="form-label col-md-6"><b>Veículo:</b> <%= placa %></label>
                            <label class="form-label col-md-6"><b>Entrada:</b> <%= info[0].entrada.toString().substring(15, 24) %></label>
                            <label class="form-label col-md-6"><b>Estadia:</b> <%= dif %></label>
                            <label class="form-label col-md-6"><b>Valor:</b> <%= valor %></label>
                            <label class="form-label col-md-6"><b>Desconto:</b> ${document.getElementById('desconto').value}</label>
                            <label class="form-label col-md-6"><b>Cliente:</b> ${document.getElementById('fornecido').value}</label>
                            <label class="form-label col-md-6"><b>Troco:</b> ${(parseFloat(teste - teste2).toFixed(2) <= 0 || parseFloat(teste - teste2).toFixed(2) == 'NaN') ? '0,00' : parseFloat(teste - teste2).toFixed(2).replace('.', ',')}</label>
                            <label class="form-label col-md-6"><b>Forma de Pagamento:</b> ${formpag.value}</label>
                        `
    }
</script>