<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<style>
  #table tbody tr:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
  }

  div.dataTables_length, div.dataTables_filter{
    padding: 25px;
  }

  @media print {
    main *:not(#print):not(#print *) {
      visibility: hidden;
    }

    #print{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
  <body>
    <% if(success){ %>
      <div class="alert alert-success mt-2" role="alert">
        <%= success %>
      </div>
    <% } %>
    <% if(erro){ %>
      <div class="alert alert-danger mt-2" role="alert">
        <%= erro %>
      </div>
    <% } %>

    <% if(expire){ %>
      <div class="alert alert-danger mt-2" role="alert">
        <%= expire %>
      </div>
    <% } %>

    <div id="print" class="w-75 mx-auto">
      <p id="print2" class="p-3"></p>
    </div>

    <p class="mt-5">[F2] - Entrada de Veículos / [F8] - Saída de Veículos</p>
    <form action="/register" method="post" class="mt-4 row" id="enter" >
      <h3>Entrada de Veículos</h3>
      <div class="col-3">
        <label class="form-label">Placa</label>
        <input type="text" name="plac" class="form-control col-sm-3" placeholder="Insira a Placa do Veículo" onkeyup="$(this).mask('SSS-0A00')" id="placa" required/>
        <input type="text" name="clock" class="form-control d-none" id="clock">
      </div>
      <div class="col-4 ms-auto p-2">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="showModal()">Registrar Entrada</button>
      </div>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Informações de Registro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div><p id="info"></p></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" onclick="window.print()" class="btn btn-primary">Registrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Título do modal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="info"></p>
            </div>
            <div class="modal-footer">
              <button type="button" onclick="closeModal()" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Salvar mudanças</button>
            </div>
          </div>
        </div>
      </div> -->
      
    </form>

    <form action="/payment" method="post" class="mt-4 row d-none" id="exit" >
      <h3>Saída de Veículos</h3>
      <div class="col-3">
        <label class="form-label">Placa</label>
        <input type="text" name="plac" class="form-control" placeholder="Insira a Placa do Veículo" onkeyup="$(this).mask('SSS-0A00')" id="placa2" required/>
      </div>
      <div class="col-4 ms-auto p-2">
        <button type="submit" class="btn btn-outline-success">Registrar Saída</button>
      </div>
    </form>

    <div class="mt-4">
      <% if(vec[0] == null || vec[0] == undefined){ %>
        <div class="row mx-auto w-50 my-auto">
          <h4>Não há veículos no pátio.</h4>
        </div>
      <% } else { %>
        <table id="table" class="table text-center">
          <thead>
            <tr>
              <th scope="col">Placa</th>
              <th scope="col">Entrada</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <% vec.forEach(function(vec){ %>
              <% if(vec.saida == null){ %>
                <tr>
                  <td><%= vec.placa %></td>
                  <td><%= vec.entrada.toString().substring(15, 24) %></td>
                  <% if(vec.saida == null){ %>
                    <td style="color: green;">Pátio</td>
                  <% }else{ %>
                    <td><%= vec.saida.toString().substring(15, 24) %></td>
                  <% } %>
                </tr>
              <% } %>
            <% }) %>
          </tbody>
        </table>
      <% } %>
      <!-- <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Placa</th>
            <th scope="col">Entrada</th>
            <th scope="col">Saída</th>
          </tr>
        </thead>
        <tbody>
          <% vec.forEach(function(vec){ %>
            <tr>

              <% if(vec.saida != null){ %>
                <td><%= vec.placa %></td>
                <td><%= vec.entrada.toString().substring(15, 24) %></td>
                <td><%= vec.saida.toString().substring(15, 24) %></td>
              <% } %>
            </tr>
          <% }) %>
        </tbody>
      </table> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>

      $('document').ready(function () {
        $('table').DataTable();
      })

      var entrar = document.getElementById('enter')
      var sair = document.getElementById('exit')
      var inp2 = document.getElementById('placa2')
      var inp = document.getElementById('placa')
      addEventListener('input', () => {
        inp.value = inp.value.toUpperCase();
      })
      addEventListener('input', () => {
        inp2.value = inp2.value.toUpperCase();
      })

      document.addEventListener('keydown', e=> {
          alterar(e.key)
      })

      function alterar(key){
          var altera = alterarInput[key]
          if(altera){
              altera()
          }
      }

      var alterarInput = {
          F2(){
            sair.classList.add('d-none')
            entrar.classList.remove('d-none')
          },
          F8(){
            entrar.classList.add('d-none')
            sair.classList.remove('d-none')
          }
      }

      function showModal(){
        var placaLength = document.getElementById('placa').value
        if(placaLength.length < 8){
          alert('Veículo Inválido')
          return;
        }
        var date = new Date()
        console.log(date)
        document.getElementById('info').innerHTML = 'Placa a ser inserida: ' + placaLength + '. <br> Deseja Continuar?'
        document.getElementById('clock').value = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}.000000`
        //documnet.getElementById('print2').innerHTML = `<%= cnpj %>`
        document.getElementById('print2').innerHTML = `
        !--- Estabelecimento: <%= user %><br>
        !<br>
        &emsp;&emsp;&emsp;&emsp;CNPJ: <%= cnpj %><br>
        &emsp;&emsp;&emsp;&emsp;Phone: <%= phone %>
        <br>--------------------------------------<br>
        &emsp;&emsp;&emsp;&emsp;ENTRADA AVULSA<br>
        --------------------------------------<br>
        Entrada: ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}<br>
        --------------------------------------<br>
        <p>NAO PERDER ESTE PAPEL, SERA NECESSARIO APRESNTA-LO NA SAIDA PARA A RETIRADA DO VEICULO<p><br>
        --------------------------------------<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Placa: ${placaLength}<br>
        --------------------------------------<br>
        <small>Tipo: Rotativo</small>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small>Vers.: Beta</small><br>
        `
        document.getElementById('modal').classList.add('d-block')
      }

      function closeModal(){
        document.getElementById('modal').classList.remove('d-block')
      }

        
      const tr = document.querySelectorAll('tbody tr')
      tr.forEach(function(e){
        e.addEventListener('click', (resultado) => {
          var placaValue = resultado.srcElement.parentElement.children[0].textContent
          entrar.classList.add('d-none')
          sair.classList.remove('d-none')
          document.getElementById('placa2').value = placaValue
        })
      })
      
    </script>
  </body>
</main>